body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

nav a.active {
    color: #a8a8a8;
}

#edit-profile {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 1px; 
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    cursor: pointer;
}

button {
    background-color: #87ceeb;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#forum-content {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

forum-user{
    font-weight: bold;
    color: #818181;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}

post-content{
    color: #000000;
    max-width: 450px;
    border: #000000;
    border-radius: 4px;
    padding: 10px;
    background-color: #bbb;
}

forum-reply{
    font-weight: bold;
    color: #818181;
    max-width: 500px;
    margin-left: 50px;
    padding: 20px;

}

reply-content{
    color: #000000;
    max-width: 300px;
    border: #000000;
    border-radius: 4px;
    padding: 10px;
    background-color: #bbb;
    margin-left: 0px;
    font-size: 12px;
}
